<div class="container">
  <h1>Post an article</h1>
  <p>Kindly fill out the form below</p>
  <%= render "form", article: @article %>
  <button><%= link_to "Back", articles_path, class: "button-link" %></button>
</div>
