/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* ALL PAGES */
.container {
  margin: 0 auto;
  width: 600px;
  text-align: center;
  background-color: rgb(230, 247, 255);
  border-radius: 10px;
  padding: 10px;
}

.card {
padding: 10px;
margin: 10px;
background-color: beige;
box-shadow: 0 0 5px rgb(128, 186, 209);
border-radius: 10px;
}

.card-title {
  font-size: 20px;
  font-weight: 700;
  color: rgb(128, 186, 209);
  margin-bottom: 5px;
}

.card-content {
  font-style: italic;
  color: rgba(128, 128, 128, 0.693);
}

button {
  background-color: black;
  border-radius: 10px;
  margin-top: 6px;
  height: 25px;
  width: 120px;
}
.button-link {
  color: white;
  text-decoration: none;
  padding: 5px;
}

/* FORMS */

.form {
  border: 1px solid black;
  width: 200px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.form-title {
  margin: 10px;
}

.form-content {
  margin: 10px;
}
